#about {

    .wrap {
        display: flex;
        align-items: center;
        
        .img-wrap {
            width: 50%;
            img {
                border-radius: 100px;
                max-height: 95vh;
                max-width: 95%;
            }
        }
        
        .cards-wrap {
            width: 50%;
            margin: auto;
            padding: 2rem;
            // background: #FBE4D6;
            // border-radius: 4px;
            // box-shadow: 0 0 6px 0 #b3b3b3;

            .text-wrap {
                min-height: 380px;
                display: flex;
                align-items: center;
                
                .text {
                    font-size: 1.4rem;
                    text-align: left;
                    opacity: 0;
                }

                @media (min-width: 1400px) {
                    .text { font-size: 2rem; }
                }

                .text.active {
                    opacity: 1;
                    transition-duration: 1.4s;
                }
            }

            .arrow {
                font-size: 2.4rem;
                position: relative;
                margin-top: 2rem;

                path {
                    cursor: pointer;
                    &:hover {
                        cursor: pointer;
                        color: #E94B5F;
                        transition: all ease 0.2s;
                    }
                }
            }

            .arrow.active {
                opacity: 1;
                transition-duration: 1s;
            }
            .left-arrow { right: 2rem; } 
            .right-arrow { left: 2rem; }
            #restart { font-size: 2.8rem; left: 1.6rem; }
        }
    }
}