* {
  padding: 0;
  margin: 0;
  font-family: "Joules Serif";
  list-style-type: none;
}

a { text-decoration: none; }

button {
  outline: none;
  border: none;
  background: none;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

section {
  padding: 4rem;
  text-align: center;
}

.hidden { display: none; }

.opacity-0 { opacity: 0; }

.btn {
  background: #E94B5F;
  color: #fff;
  border-radius: .2rem;
  padding: .5rem .7rem;
  font-size: 1.2rem; 
  cursor: pointer;
  &:hover { background: #000; 
    transition: all ease .15s; }
}

@font-face {
  font-family: "Joules Hand";
  src: url('../fonts/Joules et Jaques Hand.otf');
}

@font-face {
  font-family: "Joules Hand Thick";
  src: url('../fonts/Joules et Jaques Hand-thicker.otf');
}

@font-face {
  font-family: "Joules Serif";
  src: url('../fonts/Joules et Jaques Serif.otf');
}