#awards {
    background: #FBE4D6;
    z-index: -2;
    height: 700px;

    h2 {
        margin-bottom: 5rem;
    }

    .awards_slider {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 506px;

        .arrow {
            position: absolute;
            top: 50%;
            font-size: 3rem;
            user-select: none;
            z-index: 4;

            path {
                color: #fff;

                &:hover {
                    cursor: pointer;
                    color: #E94B5F;
                    transition: all ease 0.2s;
                }
            }
        }

        .left-arrow { left: 3rem; } 
        .right-arrow { right: 3rem; }

        @media(min-width: 1400px) {
            .left-arrow { left: 5rem; } 
            .right-arrow { right: 5rem; }
        } 
        @media(max-width: 750px) {
            .left-arrow { left: .5rem; } 
            .right-arrow { right: .5rem; }
        }

        .slides-wrap {
            display: flex;
            position: absolute;

            .slide {
                // opacity: 0;
                transition-duration: 1s ease;
            }
    
            .slide.active {
                // opacity: 1;
                transition-duration: 1s;
                transform: scale(1.08);
                z-index: 2;
            }

            .slide-que {
                position: relative;
            }

            .left-que { left: -15rem; }
            .right-que { right: -15rem; }
        }
    }
}