#contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @media (max-width: 749px) {
        #contact { padding: 2rem; }
    }

    .left-wrap {
        margin-right: 4rem;
        h1 {
            font-family: "Joules Hand";
            font-size: 3rem;
            font-weight: 4;
        }
    
        .img-wrap {
            margin-top: 2rem;
    
            img {
                border-radius: 100px;
            }
        }
    }

    .right-wrap {
        margin-left: 4rem;
        form {
            input, textarea {
                padding: 5px 10px;
                font-size: 1.2rem;
                width: 300px;
                margin: 5px;
            }

            @media(min-width: 1400px) {
                input, textarea {
                    width: 500px;
                }
            }
        }
    }
}