#contact {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 749px) {
        #contact { padding: 2rem; }
    }

    .left-wrap {
        margin-right: 4rem;
        h1 {
            font-family: "Joules Hand";
            font-size: 3rem;
            font-weight: 4;
        }
    
        .img-wrap {
            margin-top: 2rem;
    
            img {
                border-radius: 100px;
            }
        }
    }

    .right-wrap {
        margin-left: 4rem;
        form {
            input, textarea {
                padding: 5px 10px;
                font-size: 1.2rem;
                width: 300px;
                margin: 5px;
            }

            @media(min-width: 1400px) {
                input, textarea {
                    width: 500px;
                }
            }

            .btn {
                background: #E94B5F;
                padding: .5rem 1.2rem;
                color: #fff;
                font-size: 1.2rem;
                border-radius: 2px;
                cursor: pointer;
                &:hover { background: #000; 
                    transition: all ease .15s; }
            }
        }
    }
}