#footer {
    width: 100%;
    background: #636363;

    footer {
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 4rem 4rem 2rem;

        .wrap {
            display: flex;
            justify-content: space-between;

            .column {
                display: block;
                text-align: left;
            }

            .left {
                h3 a {
                    font-family: 'Joules Hand';
                    color: #fff;
                    font-weight: 3;
                    font-size: 2.3rem;
                    &:hover { text-decoration: none; }
                }
                
                a {
                    color: #FBE4D6;
                    font-size: 1rem;
                    &:hover { text-decoration: underline; }
                }
            }

            .right {
                p {
                    color: #fff;
                    font-size: 1.3rem;
                }

                .subscription_capture {
                    .fieldset {
                        margin-top: 1rem;

                        input {
                            padding: .5rem .7rem;
                            font-size: 1rem;
                            width: 280px;
                            color: #E94B5F;
                        }

                        input::placeholder {
                            color: #df8a95
                        }
                    }
                    
                    button {
                        margin-top: 1rem;
                    }
                }
            }
        }

        .copyright_content {
            margin-top: 4rem;

            h4 {
                color: #fff;
                font-size: 1rem;
                margin-bottom: .5rem;

                a {
                    color:#FBE4D6;
                    font-size: 1rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            small {
                color: #fff;
                font-size: .8rem;
            }
        }
    }
}