#portfolio {
    background: #000;
    z-index: -2;
    
    h2 {
        color: #fff;
    }

    #portfolio_slider {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

        .arrow {
            position: absolute;
            top: 50%;
            font-size: 3rem;
            user-select: none;
            z-index: 4;

            path {
                color: #fff;
                &:hover {
                    cursor: pointer;
                    color: #E94B5F;
                    transition: all ease 0.2s;
                }
            }
        }

        .left-arrow { left: 3rem; } 
        .right-arrow { right: 3rem; }

        @media(min-width: 1400px) {
            .left-arrow { left: 5rem; } 
            .right-arrow { right: 5rem; }
        } 
        @media(max-width: 750px) {
            .left-arrow { left: .5rem; } 
            .right-arrow { right: .5rem; }
        }

        .slide {
            opacity: 0;
            transition-duration: 1s ease;
        }

        .slide.active {
            opacity: 1;
            transition-duration: 1s;
            transform: scale(1.08);
            z-index: 2;
        }

        .slide-que {
            position: relative;
        }

        .left-que { left: -15rem; }
        .right-que { right: -15rem; }
    }
}