#portfolio {
    background: #000;
    z-index: -2;
    
    h2 {
        color: #fff;
        margin-bottom: 2rem;
    }

    #portfolio_slider {
        position: relative;
        top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-height: 100vh;

        .arrow {
            position: absolute;
            top: 50%;
            font-size: 3rem;
            user-select: none;
            z-index: 4;

            path {
                color: #fff;
                &:hover {
                    cursor: pointer;
                    color: #E94B5F;
                    transition: all ease 0.2s;
                }
            }
        }

        .left-arrow { left: 3rem; } 
        .right-arrow { right: 3rem; }

        @media(min-width: 1400px) {
            .left-arrow { left: 18rem; } 
            .right-arrow { right: 18rem; }
        } 
        @media(max-width: 750px) {
            .left-arrow { left: .5rem; } 
            .right-arrow { right: .5rem; }
        }

        .slide-wrap {
            .slide {
                opacity: 0;
                transition: 1s ease all;
            }
    
            .slide.active {
                opacity: 1;
                transition-duration: 1s;
                transform: scale(1.08);
                z-index: 2;
            }
        }

        .bottom-que {
            margin-top: 4rem;
            display: flex;
            align-items: baseline;
            padding-bottom: 2rem;

            .slide {
                &::after {
                    content: '';

                }
            }

            .slide.active {
                transform: scale(1.08);
                transition: all ease 1s;
            }
        }

        .left-que { left: -15rem; }
        .right-que { right: -15rem; }
    }
}